<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <!-- <script src="https://unpkg.com/crypto-js@latest/crypto-js.js"></script> -->
    <!-- <script src="./aes.js"></script> -->
    <script type="module">
        import { aesEncrypt, aesDecrypt, aesDecryptUrlKey } from "./aes.js"
        import { createApp } from "https://unpkg.com/vue@next/dist/vue.esm-browser.prod.js"
        import GithubCloud from "./github.js"
        const ciphertext = "WyIlh6Sr4W4vfmx7XGbj1Fff+yIsIpy33Fx1MDAwNWZcdTAwMDBPa1BVSIr0xkBJ8Kzqwp/7omJFXHUwMDFinTvRM7RcdTAwMWHtXHUwMDA2esjG4kGhWFx1MDAxZTFcdFx1MDAwMmdogyJd";
        const Authorization = await aesDecryptUrlKey(ciphertext);
        const github = new GithubCloud({
            owner: "drc-git",
            repo: "store",
            // repo: "store.private",
            // private: true,
            Authorization
        });

        createApp({
            data() {
                return {
                    path: 'test',
                    filename: 'test.json',
                    fileUrl: '',
                    key: "",
                    content: "",
                    ciphertext: ""
                }
            },
            computed: {
                fullname() {
                    return this.path ? `${this.path}/${this.filename}` : this.filename
                }
            },
            methods: {
                async getJson() {
                    console.log(await github.getJson(this.fullname))
                },
                async putJson() {
                    console.log(await github.putJson(this.fullname, { now: Date.now() }))
                },
                async uploadFile(e) {
                    const file = e.target.files[0]
                    console.log(await github.putFile(`test/${file.name}`, file))
                },
                async getFile() {
                    if (this.fileUrl) {
                        URL.revokeObjectURL(this.fileUrl);
                        this.fileUrl = "";
                    }
                    const file = await github.getFile(this.fullname);
                    this.fileUrl = URL.createObjectURL(file);
                },
                async remove() {
                    console.log(await github.remove(this.fullname))
                },
                async encrypt() {
                    const e = await aesEncrypt(this.content);
                    this.key = e.key;
                    this.ciphertext = e.ciphertext
                },
                async decrypt() {
                    this.content = await aesDecrypt(this.ciphertext, this.key)
                }
            }
        }).mount('#app')
    </script>
</head>

<body>
    <div id="app">
        <p>
            <label>path</label> <input v-model="path" />
        </p>
        <p>
            <label>fileName</label> <input v-model="filename" />
        </p>
        <p>
            <button @click.prevent="getJson">get json</button>
        </p>
        <p>
            <button @click.prevent="putJson">put json</button>
        </p>
        <p>
            <button @click.prevent="getFile">get file</button>
            <template v-if="fileUrl">
                <a :href="fileUrl">{{fileUrl}}</a>
                <img :src="fileUrl" />
            </template>
        </p>
        <p>
            <input type="file" @change="uploadFile" />
        </p>
        <p>
            <button @click.prevent="remove">delete</button>
        </p>

        <h2>AES</h2>
        <button @click.prevent="encrypt">加密</button>
        <button @click.prevent="decrypt">解密</button>
        <textarea v-model="content"></textarea>
        <textarea v-model="key"></textarea>
        <textarea v-model="ciphertext"></textarea>
    </div>
</body>

</html>